@import url('https://fonts.googleapis.com/css?family=Montserrat');

/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}
body{
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   textarea:focus, input:focus {
  border-color: transparent !important;
}


input::-webkit-input-placeholder { color: #999999;}
input:-moz-placeholder { color: #999999;}
input::-moz-placeholder { color: #999999;}
input:-ms-input-placeholder { color: #999999;}

textarea::-webkit-input-placeholder { color: #999999;}
textarea:-moz-placeholder { color: #999999;}
textarea::-moz-placeholder { color: #999999;}
textarea:-ms-input-placeholder { color: #999999;}
   .signup-background{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -10;
    background-color: rgba(181, 30, 186, 0.5);
    background-image: url(../img/background.jpg);
    background-attachment: fixed;
    background-size: cover !important;
    background-position: middle;
    background-blend-mode: screen;
   }
   .row-class{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   }
   .container{
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
   }
   input::input-placeholder { font-weight: bold; }
   input::-webkit-input-placeholder { font-weight: bold; }
   input:-moz-placeholder { font-weight: bold; }
   input::-moz-placeholder { font-weight: bold; }
   input:-ms-input-placeholder { font-weight: bold; }
   .sfinx-signup{
    width: 800px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    padding: 72px 150px 25px 150px;
    box-shadow: 0 15px 40px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 15px 40px 0px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 15px 40px 0px rgba(0, 0, 0, 0.35);
    -o-box-shadow: 0 15px 40px 0px rgba(0, 0, 0, 0.3);
    -ms-box-shadow: 0 15px 40px 0px rgba(0, 0, 0, 0.35);
   }
   .sfinx-signup-form{
    width: 100%;
   }
   .sfinx-signup-form .title{
    display: block;
    font-size: 30px;
    font-weight: bold;
    color: #333333;
    line-height: 1.2;
    font-family: Montserrat;
    text-align: left;
    padding-bottom: 34px;
   }
   .sfinx-signup-form .label{
    font-size: 18px;
    line-height: 1.2;
    font-weight: bold;
    font-family: Montserrat, 'Medium';
    text-align: left;
    text-transform: uppercase;
    padding: 20px;
   }
   .action{
    padding: 20px;
    font-size: 12px;
    color: grey;
   }
   .sfinx-input{
    width: 100%;
    height: 62px;
    margin-top: 10px;
    position: relative;
    display: block;
    margin-bottom: 30px;
    padding: 0 20px 0 23px;
    font-size: 16px;
    color: #4b2354;
    font-family: Montserrat;
    line-height: 1.2;
    background: transparent;
    border: none;
    border-radius: 20px;
    box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.15);
  transition-duration: 0.45s;
   }
   .sfinx-input:focus{
    box-shadow: 0 5px 20px 0px rgb(111,28,151);
  -moz-box-shadow: 0 5px 20px 0px rgb(111,28,151);
  -webkit-box-shadow: 0 5px 20px 0px rgb(111,28,151);
  -o-box-shadow: 0 5px 20px 0px rgb(111,28,151);
  -ms-box-shadow: 0 5px 20px 0px rgb(111,28,151);
   }

.btn-submit{
    border: none;
    border-radius: 20px;
    width: 25%;
    align-self: center;
    font-family: Montserrat;
    padding: 20px;
    font-size: 18px;
    color: #fff;
    background-color: rgb(181, 30, 186);
}
@media screen and (max-width: 720px) {
  .row-class{
    display: block;
  }
  .sfinx-signup{
    width: 100%;
    overflow: visible;
    border-radius: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
  }
  .btn-submit{
    margin-top: 20px;
    width: 100%;
  }
   .action{
    padding: 0;
    font-size: 12px;
    color: grey;
}
}












/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
